name: Linters
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run Linters
        uses: heitorpolidoro/lint-with-PR-comments@prepare-to-multi-linters
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          flake_parameters: --max-line-length=127
